@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background: #000430;
	--secondaryBg: #171c48;
	--textColor: #fff;
	--purple: #828dff;
	--teal: #24feee;
}

body {
	font-family: "Jost", sans-serif;
	background: url(/img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: var(--textColor);
}

.app-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 120px auto 0 auto;
	max-width: 500px;
}

.stats-container {
	padding: 30px;
	border-radius: 20px;
	border: 2px solid var(--purple);
	display: flex;
	justify-content: space-between;
	gap: 50px;
	width: 100%;
}

.details {
	width: 100%;
}

#progressBar {
	width: 100%;
	height: 10px;
	background-color: var(--secondaryBg);
	border-radius: 5px;
	margin-top: 20px;
}

#progress {
	width: 0%;
	height: 10px;
	background-color: var(--teal);
	border-radius: 10px;
	transition: all 0.3s ease;
}

#numbers {
	width: 100px;
	height: 100px;
	background-color: var(--purple);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 30px;
	font-weight: bold;
}

form {
	margin-top: 60px;
	width: 100%;
	display: flex;
	gap: 10px;
}

input {
	flex: 1;
	padding: 16px;
	font-size: 16px;
	background: var(--secondaryBg);
	border: 1px solid var(--purple);
	border-radius: 10px;
	outline: none;
	color: var(--textColor);
	font-family: "Jost", sans-serif;
}

button {
	padding: 16px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--purple);
	color: var(--textColor);
	font-size: 30px;
	font-weight: bold;
	outline: none;
	border: none;
}

#task-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 30px;
	width: 100%;
	list-style: none;
}

.taskItem {
	width: 100%;
	display: flex;
	background-color: var(--secondaryBg);
	padding: 10px;
	border-radius: 10px;
	justify-content: space-between;
	align-items: center;
}

.task {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.task input[type="checkbox"] {
	max-width: 20px;
	height: 20px;
}

.task-input {

	height: 20px;
	font-size: 16px;
	outline: none;
}

.icons {
	display: flex;
	align-items: center;
	gap: 0;
}

.task.completed {
	text-decoration: line-through;
	color: var(--teal);
}

.taskItem img {
	width: 24px;
	height: 24px;
	margin: 0 10px;
	cursor: pointer;
}

#checkCircle {
	margin: -3px 10px;
	height: 27px;
}

@media (max-width: 530px) {
	.app-container {
		margin-inline: 5% 5%;
	}
}

@media (max-width: 410px) {
	.stats-container {
		align-items: center;
	}
	.description-header {
		display: none;
	}
	.task-input {
	height: 20px;
	font-size: 12px;
	outline: none;
	display: flex;
}
}
@media (max-width: 320px) {
	#numbers {
		width: 60px;
		height: 60px;
		font-size: 20px;
	}
	.stats-container {
		padding: 15px;
	}
	input {
		font-size: 12px;
	}
	.taskItem img {
		margin: 0 5px;
		font-size: 12px;
	}
	.checkbox p {
		font-size: 12px;
	}
}
@media (max-width: 282px) {
.taskItem img {
		margin: 0 
	}
	.taskItem  {
		gap: 4px 
	}
	#checkCircle {
		margin: 0;
	}
}
@media (max-width: 265px) {
	.motivation-text {
		display: none;
	}
	#progressBar {
		margin: auto;
	}
	.taskItem p {
		font-size: 12px;
	}
}
